<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>{/fac:dt_wix.gif}</key>
	<string>dt_wix</string>
	<key>{/fac:dt_dax.gif}</key>
	<string>dt_dax</string>
	<key>{/fac:dt_guz.gif}</key>
	<string>dt_guz</string>
	<key>{/fac:dt_hux.gif}</key>
	<string>dt_hux</string>
	<key>{/fac:dt_dab.gif}</key>
	<string>dt_dab</string>
	<key>{/fac:dt_kea.gif}</key>
	<string>dt_kea</string>
	<key>{/fac:dt_hix.gif}</key>
	<string>dt_hix</string>
	<key>{/fac:dt_kel.gif}</key>
	<string>dt_kel</string>
	<key>{/fac:dt_tqi.gif}</key>
	<string>dt_tqi</string>
	<key>{/fac:dt_dak.gif}</key>
	<string>dt_dak</string>
	<key>{/fac:dt_byi.gif}</key>
	<string>dt_byi</string>
	<key>{/fac:dt_kob.gif}</key>
	<string>dt_kob</string>
	<key>{/fac:dt_biz.gif}</key>
	<string>dt_biz</string>
	<key>{/fac:dt_xuu.gif}</key>
	<string>dt_xuu</string>
	<key>{/fac:dt_bis.gif}</key>
	<string>dt_bis</string>
	<key>{/fac:dt_aom.gif}</key>
	<string>dt_aom</string>
	<key>{/fac:dt_jya.gif}</key>
	<string>dt_jya</string>
	<key>{/fac:dt_kuu.gif}</key>
	<string>dt_kuu</string>
	<key>{/fac:dt_kun.gif}</key>
	<string>dt_kun</string>
	<key>{/fac:dt_han.gif}</key>
	<string>dt_han</string>
	<key>{/fac:dt_xia.gif}</key>
	<string>dt_xia</string>
	<key>{/fac:dt_sui.gif}</key>
	<string>dt_sui</string>
	<key>{/fac:dt_yiw.gif}</key>
	<string>dt_yiw</string>
	<key>{/fac:dt_yun.gif}</key>
	<string>dt_yun</string>
	<key>{/fac:dt_qiu.gif}</key>
	<string>dt_qiu</string>
	<key>{/fac:dt_wqu.gif}</key>
	<string>dt_wqu</string>
	<key>{/fac:dt_qin.gif}</key>
	<string>dt_qin</string>
	<key>{/fac:dt_zhk.gif}</key>
	<string>dt_zhk</string>
	<key>{/fac:dt_fnu.gif}</key>
	<string>dt_fnu</string>
	<key>{/fac:dt_tuu.gif}</key>
	<string>dt_tuu</string>
	<key>{/fac:dt_bye.gif}</key>
	<string>dt_bye</string>
	<key>{/fac:dt_tox.gif}</key>
	<string>dt_tox</string>
	<key>{/fac:dt_qda.gif}</key>
	<string>dt_qda</string>
	<key>{/fac:dt_dao.gif}</key>
	<string>dt_dao</string>
	<key>{/fac:dt_wen.gif}</key>
	<string>dt_wen</string>
	<key>{/fac:dt_aiq.gif}</key>
	<string>dt_aiq</string>
	<key>{/fac:dt_xis.gif}</key>
	<string>dt_xis</string>
	<key>{/fac:dt_hua.gif}</key>
	<string>dt_hua</string>
	<key>{/fac:dt_kuw.gif}</key>
	<string>dt_kuw</string>
	<key>{/fac:dt_ain.gif}</key>
	<string>dt_ain</string>
	<key>{/fac:dt_hao.gif}</key>
	<string>dt_hao</string>
	<key>{/fac:dt_qia.gif}</key>
	<string>dt_qia</string>
	<key>{/fac:dt_ruo.gif}</key>
	<string>dt_ruo</string>
	<key>{/fac:dt_wos.gif}</key>
	<string>dt_wos</string>
	<key>{/fac:dt_cak.gif}</key>
	<string>dt_cak</string>
	<key>{/fac:dt_kaf.gif}</key>
	<string>dt_kaf</string>
	<key>{/fac:dt_fan.gif}</key>
	<string>dt_fan</string>
	<key>{/fac:dt_sun.gif}</key>
	<string>dt_sun</string>
	<key>{/fac:dt_shj.gif}</key>
	<string>dt_shj</string>
	<key>{/fac:dt_jds.gif}</key>
	<string>dt_jds</string>
	<key>{/fac:dt_bia.gif}</key>
	<string>dt_bia</string>
	<key>{/fac:dt_zhu.gif}</key>
	<string>dt_zhu</string>
	<key>{/fac:dt_liw.gif}</key>
	<string>dt_liw</string>
	<key>{/fac:dt_zhm.gif}</key>
	<string>dt_zhm</string>
	<key>{/fac:dt_kon.gif}</key>
	<string>dt_kon</string>
	<key>{/fac:dt_zhy.gif}</key>
	<string>dt_zhy</string>
	<key>{/fac:dt_hah.gif}</key>
	<string>dt_hah</string>
	<key>{/fac:dt_gul.gif}</key>
	<string>dt_gul</string>
	<key>{/fac:dt_bix.gif}</key>
	<string>dt_bix</string>
	<key>{/fac:dt_hsh.gif}</key>
	<string>dt_hsh</string>
</dict>
</plist>
